
/* 🔹 RESET GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    text-align: center;
}

/* 🔹 HEADER */
.header {
    background: #0f243a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    width: 60px;
    border-radius: 10px;
}

.logos-extra img,
.logo2 {
    width: 45px;
    margin-left: 10px;
    border-radius: 10px;
}

/* 🔹 MENÚ */
.menu {
    margin-top: 30px;
    background: var(--card);
}

.menu a {
    text-decoration: none;
    background: #1b263b;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.3s;
}

.menu a:hover {
    background: #415a77;
    transform: scale(1.05);
}

/* 🔹 DASHBOARD */
.dashboard {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background: var(--bg);
    color: var(--text);
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    width: 160px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}


.card:hover {
    transform: scale(1.05);
}

/* 🔹 FORMULARIOS */
input, select {
    background: var(--input);
    color: var(--text);
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus, select:focus {
    border-color: #0077b6;
}

/* 🔹 BOTONES */
button {
    padding: 10px 15px;
    margin: 5px;
    background: #0f243a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #023e8a;
    transform: scale(1.1);
}

/* 🔹 TABLA */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
    background: var(--bg);
    color: var(--text);
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: var(--bg);
    color: var(--text);
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f1f1f1;
}

#botonesGrupos {
    margin: 15px;
}

#botonesGrupos button {
    background: #1b263b;
}

#botonesGrupos button:hover {
    background: #0f243a;
}

#contador {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.g6A, .g6B { background:#d0f0ff; }
.g7A, .g7B { background:#d0ffd6; }
.g8A, .g8B { background:#fff3d0; }
.g9A, .g9B { background:#ffd0d0; }
.g10A, .g10B { background:#e0d0ff; }
.g11A, .g11B { background:#f0d0ff; }

@media (max-width: 768px) {
    .menu a {
        display: block;
        margin: 10px auto;
    }

    .dashboard {
        flex-direction: column;
        align-items: center;
    }

    table {
        width: 100%;
    }
}

.noti{
    position: fixed;
    top: 20px;
    right: 20px;
    background: #111827;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: bold;
    animation: aparecer 0.3s ease;
    z-index: 999;
}

@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*DARK MODE REAL*/

[data-theme="dark"]{
    background: #111827;
    color: rgb(209, 28, 28);
}

[data-theme="dark"] .card,
[data-theme="dark"] .menu,
[data-theme="dark"] .header,
[data-theme="dark"] table,
[data-theme="dark"] td,
[data-theme="dark"] th,
[data-theme="dark"] input,
[data-theme="dark"] select,
[data-theme="dark"] ul,
[data-theme="dark"] li{
    background: #1f2937;
    color: white;
}

[data-theme="dark"] button{
    background: #0a1972;
    color: rgb(255, 255, 255);
}

[data-theme="dark"] a,
[data-theme="dark"] p,
[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3{
    color: white;
}