.g6A,.g6B{
    background:#d0f0ff;
}

.g7A,.g7B{
    background:#d0ffd6;
}

.g8A,.g8B{
    background:#fff3d0;
}

.g9A,.g9B{
    background:#ffd0d0;
}

.g10A,.g10B{
    background:#e0d0ff;
}

.g11A,.g11B{
    background:#f0d0ff;
}